@import 'antd/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-pro-layout-container {
    min-height: 100vh !important;
}

.ant-pro-layout-has-footer {
    // margin-block-start: 32px
    margin-block-start: 0px !important;
}

.ant-pro-footer-bar {
    background-color: #fff !important;
}